<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to <%= name %></p>
    <p id="vegdiv"></p>
    
  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script>
      $( document ).ready(function() {
        $.ajax({
        url: "http://localhost:3000/vegdata",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res);
            $("#vegdiv").text(res.data);
            // alert(jQuery.parseJSON(res))
        }
    });
});
     
  </script>
</html>
